body {
    color: #555;
    font-family: arial, Verdana, helvetica;
}


#inner {
    padding: 5% 0;
}
.status {
    font-weight: bold;
    font-size: 144px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    padding: 10% 0;
}
